// Custom Variables
$font-stack: "Playfair Display",
serif;

// Original Colors - Non Google Color
// $primary-color: #e6e6fa;
// $secondary-color: #e8e8fa;
// $dark-color: #45454b;

// Google Color Palette
$primary-color: #e1bee7;
$secondary-color: #fff1ff;
$gradient-three: #f3e5f5;
$dark-color: #af8eb5;
// End Custom Variables

/* BULMA OVERRIDES */
$navbar-item-hover-color: $dark-color;
$navbar-item-hover-background-color: none;
$navbar-tab-hover-border-bottom-color: $primary-color;
$button-focus-box-shadow-color: $primary-color;
$link-focus-border: $primary-color;


/* BULMA IMPORTS */
@import "../node_modules/bulma/bulma.sass";

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin scale($scale) {
  @include transform(scale($scale));
}


@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

/* MAIN CSS */
body {
  font-family: $font-stack;
}

// To change the hamburger color on mobile
// Change this if it becomes a problem
a.navbar-burger {
  color: $primary-color;
}

hr.dark {
  border: 0;
  height: 1px;
  background: #4a4a4a;
  background-image: linear-gradient(to right, #ccc, #4a4a4a, #ccc);
  margin-block-start: 2em;
  margin-block-end: 2em;
}

// Button hover effect
// Delete if unwanted
a.button:hover {
  background: #4a4a4a;
  color: white;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

label::before {
  content: "*"
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-no-hover:hover {
  color: none;
}

.has-small-gap {
  margin-top: -1.75em;
}

.test {
  content: "*";
}

// Apply to hero-body class
// Use 57 for a darker grey
.hero-image {
  background:
    linear-gradient(rgba(255, 255, 255, .25),
    rgba(255, 255, 255, .25)),
    url(../images/ExposedInteriors4_Hero.jpg);
}

.light {
  border: none;
  font-weight: bold;
  width: 50px;
  height: 3px;
  background: $primary-color;
  padding: 0;
  margin: 0 auto;
}

.main-hero {
  background: linear-gradient(120deg, $secondary-color, $white);
  // background: $secondary-color;
}

.navbar-brand {
  letter-spacing: .5rem;
}

.navbar-item.is-tab,
.navbar-item {
  border-bottom: 3px solid transparent;
  @include transition(0.3s ease-in-out);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  @include transition(0.5s ease-in-out);
  background-color: #363636;
}

.overlay-text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover .overlay {
  opacity: 0.75;
  cursor: pointer; // Remove this if pictures don't become clickable
}

/* ZOOM FEATURES - UNCOMMENT lines 158-172 FOR ZOOM */
// .has-zoom img {
//   max-width: 100%;
//   @include transition(0.5s all);
//   overflow: hidden;
// }

// .has-zoom {
//   overflow: hidden;
// }

// .has-zoom:hover img {
//   -webkit-backface-visibility: hidden;
//   @include scale(1.05);
//   @include transition(0.5s ease-in-out);
// }