<div class="column is-full-tablet is-one-third-desktop portfolio-img">
    <figure class="image is-3by2 has-zoom">
        <img src="<%=galleryItem.mainImageUrl%>" onerror="removeElement(this)">
        <div class="overlay">
            <div class="overlay-text has-text-weight-bold has-letter-spacing is-uppercase is-size-4">
              <%=galleryItem.hoverText%>
            </div>
        </div>
    </figure>
</div>