<!DOCTYPE html>
<html lang="en" class="has-fixed-navbar-top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Interior designer Nicole Maisonet-West uses inexpensive finds and develops them into one-of-a-kind, unique set pieces.  She transforms ordinary spaces into beautiful living areas">
    <meta name="keywords" content="interior design, interior designer, home, home design, crafts, custom, orlando design, orlando designer">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/index.css">
    <!-- <link rel="stylesheet" href="/index.min.css"> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!-- <link rel="stylesheet" href="/debug.css"> -->
    <!-- /Stylesheets -->

    <!-- Favicon Stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/site.webmanifest">
    <link rel="mask-icon" href="./images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- /Favicon Stuff -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
    <!-- /Fonts -->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <!-- /FontAwesome -->

    <!-- IE Compatability -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <!-- /IE Compatability -->

    <title>Little House Creative | Home</title>
</head>

<body>

    <!-- Nav -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="./images/navbar-brand-house.png" width="75" height="300">
                <span class="nav-text">Little House Creative</span>
            </a>
            <!-- Burger Menu -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <!-- /Burger Menu -->
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <a href="/" class="navbar-item is-tab">Home</a>
                <a href="/portfolio" class="navbar-item is-tab">Portfolio</a>
                <a href="#" class="navbar-item is-tab" id="services-link">Services</a>
                <a href="/about" class="navbar-item is-tab">About</a>
                <a href="/contact" class="navbar-item is-tab">Contact</a>
            </div>
        </div>
    </nav>
    <!-- /Nav -->

    <!-- Hero -->
    <section class="hero animated fadeIn slow is-fullheight fullheight-hero-img">
        <div class="hero-body">
            <div class="container has-text-centered hero-container">
                <img src="./images/hero-logo.png" alt="LHC logo" width="1000px">

                <h1 class="title has-text-white is-hidden is-size-1-mobile has-text-weight-bold">Little House
                    Creative</h1>
                <hr>
                <h2 class="subtitle hero-subtitle has-text-centered has-text-white is-uppercase is-size-3-desktop is-size-4-tablet is-size-5-mobile">
                    Interior design by Nicole Maisonet-West
                </h2>
            </div>
        </div>
        <div class="container has-text-centered">
            <span id="scroll-button" class="is-hidden-mobile"><i class="fas fa-chevron-down fa-3x has-text-white arrow-down"></i></span>
        </div>
    </section>
    <!-- /Hero -->

    <!-- Services Section -->
    <section class="section" id="services">
        <div class="container is-fluid">
            <h1 class="title is-size-2 has-text-centered" data-aos="fade-left">A Service for Everyone</h1>
            <div class="pricing-table" data-aos="fade-up" data-aos-duration="1200">
                <div class="pricing-plan grow">
                    <div class="plan-header">Consultations</div>
                    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>50</span></div>
                    <div class="plan-items">
                        <div class="plan-item">2 Paint Color Schemes (main color and two complementary)</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                    </div>
                    <div class="plan-footer">
                        <a class="button is-fullwidth is-dark is-medium" href="/contact?subject=consultations">Select
                            Consultations</a>
                    </div>
                </div>

                <div class="pricing-plan grow">
                    <div class="plan-header">Room Layout/Rearrangement</div>
                    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>75</span></div>
                    <div class="plan-items">
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                    </div>
                    <div class="plan-footer">
                        <a class="button is-fullwidth is-dark is-medium" href="/contact">Select Layout</a>
                    </div>
                </div>

                <div class="pricing-plan grow">
                    <div class="plan-header">Full Design Package</div>
                    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>150</span>/hour</div>
                    <div class="plan-items">
                        <div class="plan-item">Initial Consultation</div>
                        <div class="plan-item">Concept Board</div>
                        <div class="plan-item">Floor Plan Layout</div>
                        <div class="plan-item">Furniture Selecton</div>
                        <div class="plan-item">Product Source List & Purchase Information</div>
                        <div class="plan-item">Paint Color Selection</div>
                        <div class="plan-item">Lighting & Room Decor Selection</div>
                    </div>
                    <div class="plan-footer">
                        <a class="button is-fullwidth is-dark is-medium" href="/contact">Select Full Design</a>
                    </div>
                </div>

                <div class="pricing-plan grow">
                    <div class="plan-header">Design Build Package</div>
                    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>500</span>
                        and up</div>
                    <div class="plan-items">
                        <div class="plan-item">Full Design</div>
                        <div class="plan-item">Painting Work</div>
                        <div class="plan-item">Assembling Furniture & Placement</div>
                        <div class="plan-item">Curtain Installation</div>
                        <div class="plan-item">Custom Piece Installation</div>
                        <div class="plan-item">-</div>
                        <div class="plan-item">-</div>
                    </div>
                    <div class="plan-footer">
                        <a class="button is-fullwidth is-medium is-dark" href="/contact">Select Design</a>
                    </div>
                </div>
            </div>
            <div class="content has-text-centered center">
                <p class="bottom-disclaimer has-text-grey-light is-italic">Package prices are per room/space |
                    Allow <strong>2-3 weeks</strong> for design delivery</p>
            </div>
        </div>
    </section>
    <!-- Instagram Feed -->
    <section class="section instagram-feed">
        <div class="container is-fluid">
            <h1 class="title is-size-2 has-text-centered has-text-white" data-aos="fade-left">See My Work!</h1>
        </div>
    </section>
    <!-- /Instagram Feed -->
    <!-- Footer -->
    <footer class="footer animated fadeIn">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="center">
                        <a href="https://www.facebook.com/littlehousecreative" class="navbar-item"><i class="fab fa-facebook-f fa-2x"></i></a>
                        <a href="https://www.linkedin.com/in/nicole-maisonet-west-636bb9a0/" class="navbar-item"><i
                                class="fab fa-linkedin-in fa-2x"></i></a>
                        <a href="https://twitter.com/Nicole_LHC" class="navbar-item"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="https://www.pinterest.com/littlehousecreative/" class="navbar-item"><i class="fab fa-pinterest-p fa-2x"></i></a>
                        <a href="https://www.instagram.com/littlehousecreative/" class="navbar-item"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="mailto:nicole@littlehousecreative.com" class="navbar-item"><i class="far fa-envelope fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content has-text-centered">
            <p>
                <strong>Little House Creative </strong>&COPY;<span id="year">
                    <script>
                        var d = new Date();
                        document.getElementById("year").innerHTML = d.getFullYear();
                    </script>
                </span>
            </p>
        </div>
        <div class="columns is-multiline has-text-centered">
            <div class="column is-full is-paddingless">
                <div class="center">
                    <span class="icon">
                        <i class="fas fa-phone"></i>
                    </span>
                    <p class="is-size-6 is-hidden-touch is-inline">407-796-1863</p>
                    <div></div>
                    <a href="tel:407-796-1863" class="is-hidden-widescreen is-hidden-tablet">407-796-1863</a>
                </div>
            </div>
        </div>
        <div class="columns has-text-centered is-multiline">
            <div class="column is-full is-paddingless">
                <div class="center">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <a href="mailto:nicole@littlehousecreative.com" class="email-link">nicole@littlehousecreative.com</a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered center">
                <a href="#" class="navbar-item has-text-weight-bold">Sitemap</a>
                <a href="/privacy-policy" class="navbar-item has-text-weight-bold">Privacy Policy</a>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- JS Files -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./js/on_ready.js"></script>
    <script src="./js/scroll.js"></script>
    <!-- /JS Files -->

    <!-- Load AOS Script -->
    <script>
        AOS.init({
            once: true
        });
    </script>
</body>

</html>