<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Interior designer Nicole Maisonet-West uses inexpensive finds and develops them into one-of-a-kind, unique set pieces.  She transforms ordinary spaces into beautiful living areas">
    <meta name="keywords" content="interior design, interior designer, home, home design, crafts, custom, orlando design, orlando designer">

    <!-- Stylesheets -->
    <!-- <link rel="stylesheet" href="/index.css"> -->
    <link rel="stylesheet" href="index.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!-- <link rel="stylesheet" href="/debug.css"> -->
    <!-- /Stylesheets -->

    <!-- Favicon Stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/site.webmanifest">
    <link rel="mask-icon" href="./images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- /Favicon Stuff -->

    <!-- Google reCaptcha -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <!-- /Google reCaptcha-->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <!-- /Fonts -->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <!-- /FontAwesome -->

    <!-- IE Compatability -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <!-- /IE Compatability -->

    <title>Little House Creative | Contact</title>
</head>

<body>
<!-- Nav -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-no-hover" href="/">
            Little House Creative
        </a>
        <!-- Burger Menu -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <!-- /Burger Menu -->
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
            <a href="/gallery" class="navbar-item is-tab">Gallery</a>
            <a href="#" class="navbar-item is-tab">Services</a>
            <a href="#" class="navbar-item is-tab">About</a>
            <a href="/contact" class="navbar-item is-tab">Contact</a>
        </div>
    </div>
</nav>
<!-- /Nav -->

<!-- Hero -->
<section class="hero animated fadeIn is-medium">
    <div class="hero-body hero-image">
        <div class="container">
            <h1 class="title has-text-centered is-uppercase is-size-1 has-text-white">
                File Upload Testing!
            </h1>
        </div>
    </div>
</section>
<!-- /Hero -->
<section class="section animated fadeInUp faster">
    <div class="container">
        <h1 class="title has-text-centered has-text-weight-light">Let's try and upload a thing</h1>
        <div class="content has-text-centered">
            <form action="/upload" enctype="multipart/form-data" method="POST" >
                <div class="field">
                    <label class="label">Pick the main gallery photo</label>
                    <div class="control">
                        <input type="file" accept="image/*" name="galleryPhoto" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Detail Text</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Hover Description" name="hoverText" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Description on click" name="fullDescription" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Pick the gallery photos</label>
                    <div class="control">
                        <input type="file" multiple="" accept="image/*" name="childPhotos" required>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Submit new gallery item"/>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="footer animated fadeIn">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="center">
                    <a href="https://www.facebook.com/littlehousecreative" class="navbar-item"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="#" class="navbar-item"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    <a href="#" class="navbar-item"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="navbar-item"><i class="fab fa-pinterest-p fa-2x"></i></a>
                    <a href="#" class="navbar-item"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="mailto:nicole@littlehousecreative.com" class="navbar-item"><i class="far fa-envelope fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content has-text-centered">
        <p>
            <strong>Little House Creative </strong>&COPY;<span id="year">
                    <script src="./js/year.js"></script>
                </span>
        </p>
    </div>
    <div class="columns">
        <div class="column has-text-centered center">
            <a href="#" class="navbar-item">Sitemap</a>
            <a href="/privacy-policy" class="navbar-item">Privacy Policy</a>
        </div>
    </div>
</footer>
<!-- /Footer -->
<!-- JS Files -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="./js/on_ready.js"></script>
<script src="./js/scroll.js"></script>
<!-- /JS Files -->

<!--<script>-->
    <!--function submitFileUploadClicked(event) {-->
        <!--console.log("Time to upload!");-->
        <!--console.log(event.toString());-->
    <!--}-->
<!--</script>-->

<!-- Load AOS Script -->
<script>
    AOS.init({
        once: true
    });
</script>
</body>

</html>
<!-- /Hero -->