// // Custom Variables
$font-stack: "Muli",
sans-serif;

// Original Colors - Non Google Color
// $primary-color: #e6e6fa;
// $secondary-color: #e8e8fa;
// $dark-color: #45454b;

// Google Color Palette
$primary-color: #f5deff;
$secondary-color: #e3c0f2;
$color-three: #be98c9;
$dark-color: #7a5e80;
// End Custom Variables

/* BULMA OVERRIDES */
$body-background-color: #fafafa;
$navbar-background-color: #fafafa;
$navbar-item-hover-color: $color-three;
$navbar-item-hover-background-color: none;
$navbar-tab-hover-border-bottom-color: $color-three;
$button-focus-box-shadow-color: $primary-color;
$link-focus-border: $primary-color;
$card-footer-background-color: white;
$card-footer-border-top: none;
// Fluid container gap
$gap: 32px;

/* BULMA IMPORTS */
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/components/card.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/components/panel.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/content.sass";
// @import "../node_modules/bulma/sass/elements/form.sass";
// @import "../node_modules/bulma/sass/elements/icon.sass";
// @import "../node_modules/bulma/sass/elements/image.sass";
// @import "../node_modules/bulma/sass/elements/notification.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/elements/other.sass";
// @import "../node_modules/bulma/sass/grid/_all.sass";
// @import "../node_modules/bulma/sass/layout/_all.sass";
// @import "../node_modules/bulma/sass/utilities/_all.sass";

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-carousel/dist/css/bulma-carousel.sass";

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(pulseUpDown) {
  0% {
    @include transform(translateY(0));
  }

  50% {
    @include transform(translateY(-12px));
  }

  100% {
    @include transform(translateY(0));
  }
}

/* MAIN CSS */
body {
  font-family: $font-stack;
}

// To change the hamburger color on mobile
// Change this if it becomes a problem
a.navbar-burger {
  color: #4a4a4a;
}

.fa-chevron-down:hover {
  color: $dark-color;
  cursor: pointer;
}

.arrow-down {
  @include animation(pulseUpDown 1.2s infinite ease-in-out normal);
  padding-bottom: 0.5em;
}

.about-hero {
  background: linear-gradient(rgba(74, 74, 74, 0.5), rgba(74, 74, 74, 0.5)),
    url(../images/Project-Drawing_hero.jpg);
}

hr.dark {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #4a4a4a, #ccc);
}

p.about-text {
  font-size: 18px;
}

.has-padding-top {
  padding-top: 4.5em;
}

// Button hover effect
// Delete if unwanted
// a.button:hover {
//   background: #4a4a4a;
//   color: white;
//   transition-property: all;
//   transition-duration: 0.3s;
//   transition-timing-function: ease;
//   transition-delay: 0s;
// }

.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bm--card-equal-height .card-footer {
  margin-top: auto;
}

.bottom-disclaimer {
  margin-top: 1em;
}

.grow {
  transition: all 0.25s ease-in-out;
}

.grow:hover {
  @include transform(scale(1.1));
}

.services-title {
  min-height: 3em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label:after {
  content: " *";
  color: red;
}

// Row gap modifier
.has-small-gap {
  margin-top: -1.75em;
}

.has-letter-spacing {
  letter-spacing: 0.15em;
}

// Apply to hero-body class
// Use 57 for a darker grey
.hero-image {
  background: linear-gradient(rgba(74, 74, 74, 0.5), rgba(74, 74, 74, 0.5)),
    url(../images/ExposedInteriors4_Hero.jpg);
}

.is-large {
  font-size: 4em;
}

.is-extra-large {
  font-size: 5em;
}

.is-huge {
  font-size: 10em;
}

.is-inline {
  display: inline-block;
}

.fullheight-hero-img {
  background: linear-gradient(rgba(74, 74, 74, 0.5), rgba(74, 74, 74, 0.5)),
    url(../images/fullheight_hero1a_compressed.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // filter: blur(3px);
}

.navbar-brand {
  letter-spacing: 0.25rem;
}

.navbar-item.is-tab,
.navbar-item {
  border-bottom: 3px solid transparent;
  @include transition(0.25s ease-in-out);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  @include transition(0.25s ease-in-out);
}

.oh-no {
  position: relative;
  left: -20px;
  top: 0px;
  margin-right: -40px;
}

.overlay-text {
  display: none;
}

.image:hover .overlay {
  background-color: rgba(74, 74, 74, 0.75);
  cursor: pointer; // Remove this if pictures don't become clickable

  .overlay-text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    display: block;
  }
}

.twitter-feed {
  background-color: $dark-color;
  clip-path: polygon(0 0, 100% 64px, 100% 100%, 0 100%);
}

/* ZOOM FEATURES - UNCOMMENT lines 158-172 FOR ZOOM */
// .has-zoom img {
// max-width: 100%;
// @include transition(0.5s all);
// overflow: hidden;
// }
// .has-zoom {
//   overflow: hidden;
// }

// .has-zoom:hover img {
// -webkit-backface-visibility: hidden;
// @include scale(1.05);
// @include transition(0.5s ease-in-out);
// }